<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gq.ged.order.dao.mapper.GedOrderGuarantorMapper">
  <resultMap id="BaseResultMap" type="com.gq.ged.order.dao.model.GedOrderGuarantor">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="guarantor_type" jdbcType="INTEGER" property="guarantorType" />
    <result column="guarantor_id" jdbcType="BIGINT" property="guarantorId" />
    <result column="borrow_guarantor_id" jdbcType="VARCHAR" property="borrowGuarantorId" />
    <result column="refuse_reason" jdbcType="VARCHAR" property="refuseReason" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_id, guarantor_type, guarantor_id, borrow_guarantor_id, refuse_reason, status, 
    create_time
  </sql>
  <select id="selectByExample" parameterType="com.gq.ged.order.dao.model.GedOrderGuarantorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ged_order_guarantor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ged_order_guarantor
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ged_order_guarantor
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.gq.ged.order.dao.model.GedOrderGuarantorExample">
    delete from ged_order_guarantor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gq.ged.order.dao.model.GedOrderGuarantor">
    insert into ged_order_guarantor (id, order_id, guarantor_type, 
      guarantor_id, borrow_guarantor_id, refuse_reason, 
      status, create_time)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{guarantorType,jdbcType=INTEGER}, 
      #{guarantorId,jdbcType=BIGINT}, #{borrowGuarantorId,jdbcType=VARCHAR}, #{refuseReason,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gq.ged.order.dao.model.GedOrderGuarantor">
    insert into ged_order_guarantor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="guarantorType != null">
        guarantor_type,
      </if>
      <if test="guarantorId != null">
        guarantor_id,
      </if>
      <if test="borrowGuarantorId != null">
        borrow_guarantor_id,
      </if>
      <if test="refuseReason != null">
        refuse_reason,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="guarantorType != null">
        #{guarantorType,jdbcType=INTEGER},
      </if>
      <if test="guarantorId != null">
        #{guarantorId,jdbcType=BIGINT},
      </if>
      <if test="borrowGuarantorId != null">
        #{borrowGuarantorId,jdbcType=VARCHAR},
      </if>
      <if test="refuseReason != null">
        #{refuseReason,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gq.ged.order.dao.model.GedOrderGuarantorExample" resultType="java.lang.Integer">
    select count(*) from ged_order_guarantor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ged_order_guarantor
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.guarantorType != null">
        guarantor_type = #{record.guarantorType,jdbcType=INTEGER},
      </if>
      <if test="record.guarantorId != null">
        guarantor_id = #{record.guarantorId,jdbcType=BIGINT},
      </if>
      <if test="record.borrowGuarantorId != null">
        borrow_guarantor_id = #{record.borrowGuarantorId,jdbcType=VARCHAR},
      </if>
      <if test="record.refuseReason != null">
        refuse_reason = #{record.refuseReason,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ged_order_guarantor
    set id = #{record.id,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      guarantor_type = #{record.guarantorType,jdbcType=INTEGER},
      guarantor_id = #{record.guarantorId,jdbcType=BIGINT},
      borrow_guarantor_id = #{record.borrowGuarantorId,jdbcType=VARCHAR},
      refuse_reason = #{record.refuseReason,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gq.ged.order.dao.model.GedOrderGuarantor">
    update ged_order_guarantor
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="guarantorType != null">
        guarantor_type = #{guarantorType,jdbcType=INTEGER},
      </if>
      <if test="guarantorId != null">
        guarantor_id = #{guarantorId,jdbcType=BIGINT},
      </if>
      <if test="borrowGuarantorId != null">
        borrow_guarantor_id = #{borrowGuarantorId,jdbcType=VARCHAR},
      </if>
      <if test="refuseReason != null">
        refuse_reason = #{refuseReason,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gq.ged.order.dao.model.GedOrderGuarantor">
    update ged_order_guarantor
    set order_id = #{orderId,jdbcType=BIGINT},
      guarantor_type = #{guarantorType,jdbcType=INTEGER},
      guarantor_id = #{guarantorId,jdbcType=BIGINT},
      borrow_guarantor_id = #{borrowGuarantorId,jdbcType=VARCHAR},
      refuse_reason = #{refuseReason,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>