<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gq.ged.order.dao.mapper.GedRechargeRecordMapper">
  <resultMap id="BaseResultMap" type="com.gq.ged.order.dao.model.GedRechargeRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="seq_no" jdbcType="VARCHAR" property="seqNo" />
    <result column="cust_no" jdbcType="VARCHAR" property="custNo" />
    <result column="repayment_period" jdbcType="INTEGER" property="repaymentPeriod" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="bank_id" jdbcType="VARCHAR" property="bankId" />
    <result column="recharge_amount" jdbcType="DECIMAL" property="rechargeAmount" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="trade_date" jdbcType="TIMESTAMP" property="tradeDate" />
    <result column="resp_code" jdbcType="VARCHAR" property="respCode" />
    <result column="mobile_no" jdbcType="VARCHAR" property="mobileNo" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, seq_no, cust_no, repayment_period, type, bank_id, recharge_amount, order_no, 
    trade_date, resp_code, mobile_no, status, create_time, modify_time
  </sql>
  <select id="selectByExample" parameterType="com.gq.ged.order.dao.model.GedRechargeRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ged_recharge_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ged_recharge_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ged_recharge_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.gq.ged.order.dao.model.GedRechargeRecordExample">
    delete from ged_recharge_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gq.ged.order.dao.model.GedRechargeRecord">
    insert into ged_recharge_record (id, seq_no, cust_no, 
      repayment_period, type, bank_id, 
      recharge_amount, order_no, trade_date, 
      resp_code, mobile_no, status, 
      create_time, modify_time)
    values (#{id,jdbcType=BIGINT}, #{seqNo,jdbcType=VARCHAR}, #{custNo,jdbcType=VARCHAR}, 
      #{repaymentPeriod,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{bankId,jdbcType=VARCHAR}, 
      #{rechargeAmount,jdbcType=DECIMAL}, #{orderNo,jdbcType=VARCHAR}, #{tradeDate,jdbcType=TIMESTAMP}, 
      #{respCode,jdbcType=VARCHAR}, #{mobileNo,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gq.ged.order.dao.model.GedRechargeRecord">
    insert into ged_recharge_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="seqNo != null">
        seq_no,
      </if>
      <if test="custNo != null">
        cust_no,
      </if>
      <if test="repaymentPeriod != null">
        repayment_period,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="rechargeAmount != null">
        recharge_amount,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="tradeDate != null">
        trade_date,
      </if>
      <if test="respCode != null">
        resp_code,
      </if>
      <if test="mobileNo != null">
        mobile_no,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="seqNo != null">
        #{seqNo,jdbcType=VARCHAR},
      </if>
      <if test="custNo != null">
        #{custNo,jdbcType=VARCHAR},
      </if>
      <if test="repaymentPeriod != null">
        #{repaymentPeriod,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="rechargeAmount != null">
        #{rechargeAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeDate != null">
        #{tradeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="respCode != null">
        #{respCode,jdbcType=VARCHAR},
      </if>
      <if test="mobileNo != null">
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gq.ged.order.dao.model.GedRechargeRecordExample" resultType="java.lang.Integer">
    select count(*) from ged_recharge_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ged_recharge_record
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.seqNo != null">
        seq_no = #{record.seqNo,jdbcType=VARCHAR},
      </if>
      <if test="record.custNo != null">
        cust_no = #{record.custNo,jdbcType=VARCHAR},
      </if>
      <if test="record.repaymentPeriod != null">
        repayment_period = #{record.repaymentPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.bankId != null">
        bank_id = #{record.bankId,jdbcType=VARCHAR},
      </if>
      <if test="record.rechargeAmount != null">
        recharge_amount = #{record.rechargeAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeDate != null">
        trade_date = #{record.tradeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.respCode != null">
        resp_code = #{record.respCode,jdbcType=VARCHAR},
      </if>
      <if test="record.mobileNo != null">
        mobile_no = #{record.mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ged_recharge_record
    set id = #{record.id,jdbcType=BIGINT},
      seq_no = #{record.seqNo,jdbcType=VARCHAR},
      cust_no = #{record.custNo,jdbcType=VARCHAR},
      repayment_period = #{record.repaymentPeriod,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      bank_id = #{record.bankId,jdbcType=VARCHAR},
      recharge_amount = #{record.rechargeAmount,jdbcType=DECIMAL},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      trade_date = #{record.tradeDate,jdbcType=TIMESTAMP},
      resp_code = #{record.respCode,jdbcType=VARCHAR},
      mobile_no = #{record.mobileNo,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gq.ged.order.dao.model.GedRechargeRecord">
    update ged_recharge_record
    <set>
      <if test="seqNo != null">
        seq_no = #{seqNo,jdbcType=VARCHAR},
      </if>
      <if test="custNo != null">
        cust_no = #{custNo,jdbcType=VARCHAR},
      </if>
      <if test="repaymentPeriod != null">
        repayment_period = #{repaymentPeriod,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="bankId != null">
        bank_id = #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="rechargeAmount != null">
        recharge_amount = #{rechargeAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeDate != null">
        trade_date = #{tradeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="respCode != null">
        resp_code = #{respCode,jdbcType=VARCHAR},
      </if>
      <if test="mobileNo != null">
        mobile_no = #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gq.ged.order.dao.model.GedRechargeRecord">
    update ged_recharge_record
    set seq_no = #{seqNo,jdbcType=VARCHAR},
      cust_no = #{custNo,jdbcType=VARCHAR},
      repayment_period = #{repaymentPeriod,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      bank_id = #{bankId,jdbcType=VARCHAR},
      recharge_amount = #{rechargeAmount,jdbcType=DECIMAL},
      order_no = #{orderNo,jdbcType=VARCHAR},
      trade_date = #{tradeDate,jdbcType=TIMESTAMP},
      resp_code = #{respCode,jdbcType=VARCHAR},
      mobile_no = #{mobileNo,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>