body {
	margin:0px;
	background-color:#fff;FILTER: progid:DXImageTransform.Microsoft.gradient(startColorStr:#e2f2fb,EndColorStr :#ffffff,GradientType:0);		
}

.mid_bg {
	height:286px;
	width:620px;
	margin-left:25px;
	margin-top:220px;
}